
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
    list-style-type: none;
    font-family:"Plus Jakarta Sans"
} 
.navbar{
    padding-left: 160px; 
    padding-right: 160px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    h1{
     color: #13183F;
    } 
    button{
   
        font-weight: 700;
        color:#FFFFFF ;
        background-color: #13183F;
        height: 59px;
        width: 168px;
        border-radius: 28px;
    }
}
.hero{
    /* display: inline-block; */
    position: relative;
    overflow: hidden;
}
.content{
    position: relative;
    display: inline-block;
    width: 544px;
    height: 339px;
    left: 160px;
    top: 200px;
    
    h2{
        font-size: 50px;
        color: #13183F;
        font-weight: 800;
       
    }
    p{  
        margin-top: 10px;
        height: 81px;
        width: 445px;
        color: #83869A;
        font-weight: 500;

    }
    button{
        color:#FFFFFF ;
        border: none;
        background: #FF6F48;
        background: linear-gradient(90deg, rgba(255, 111, 72, 1) 23%, rgba(245, 63, 137, 1) 100%, rgba(240, 42, 166, 0.53) 100%);
        border-radius: 28px ;
        width: 130px;
        height: 50px;
        font-weight: 700;
    }
}


.img{
     
      position: relative;
      left: 904px;
      bottom: 240px;
      overflow: hidden;
      border-radius:158.5px;
      width: 300px;
      height: 560px;
      background: #FF6F48;
      background: linear-gradient(90deg, rgba(255, 111, 72, 1) 23%, rgba(245, 63, 137, 1) 100%, rgba(240, 42, 166, 0.53) 100%);
        img{
            position: relative;
            top: 75px;
            right: 25px;
        }
}

.backg{
    border-radius: 0px 0px 20px 160px;
    overflow: hidden;
    position: absolute;
    transform: rotate(10deg) skewX(-15deg);
    top: -100px;
    left: 1000px;
    z-index: -1;
    width:317px ;
    height:700px;
    background: #F02AA6;
    background: linear-gradient(90deg, rgba(240, 42, 166, 0.53) 0%, rgba(215, 48, 179, 1) 0%, rgba(196, 52, 189, 1) 52%, rgba(122, 70, 229, 1) 85%);

}
.boxs{
    position: relative;
    display: inline-block;
}